body {
  background-color: thistle;
}
h1 {
  color: #4A3267;
  font-size: 40px;
  font-family: sans-serif;
  text-align: center;
}

.stranka {
  background-color: #F3D9E5;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
}
p {
  text-align: center;
  max-width: 70%;
  margin: 0 auto;
}

.galerie {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 90%;
  margin: 0 auto;
  padding-top: 30 px;
}

.galerie img {
  max-width: 100%;
  height: auto;
  

}

.galerie img:hover {
  
transform: scale(1.1);
}

